h1 {
	color : black;
	text-align: center;
	font-family: Verdana; 
}

p {
	font-size: 20px;
	font-family: Verdana;
}

.title {
	font-family: Verdana;
	font-size: 19px;
	color : black;

}

.subtitle {
	font-family: Verdana;
	font-size: 18px;
	color : black;
}

body {
	background-color: #ff0097;
}